
/*
===============================================================================
Stored Procedure: Data Quality Check in Gold Layer (Test -> Gold)
===============================================================================
Author: Chathura Kodikara               Initiate Date: 2026-04-20

Script Purpose:
    This script performs quality checks to validate the integrity, consistency, and accuracy of the Gold Layer. These checks ensure:
    - Uniqueness of surrogate keys in dimension tables.
    - Referential integrity between fact and dimension tables.
    - Validation of relationships in the data model for analytical purposes.

Parameters:
    - None: This stored procedure does not accept any parameters.

Usage Notes:
    - Investigate and resolve any discrepancies found during the checks.

Usage Example:
    EXEC gold.quality_check;

********
Warnings: 

===============================================================================
Updates
-------------------------------------------------------------------------------
Date        |Author              |Ticket      |Description
-------------------------------------------------------------------------------
2026-04-20  |Chathura Kodikara   |Start       |Initiate


===============================================================================
*/
CREATE OR ALTER PROCEDURE [gold].[quality_check] AS
BEGIN
DECLARE @start_time DATETIME, @end_time DATETIME, @batch_start_time DATETIME, @batch_end_time DATETIME, @qty INT; 
	BEGIN TRY
		SET @batch_start_time = GETDATE();

		PRINT '================================================';
		PRINT 'Quality Check in Gold Layer';
		PRINT '================================================';

		PRINT '------------------------------------------------';
		PRINT 'Quality Check "gold.dim_customers"';
		PRINT '------------------------------------------------';

		--Check Null or Duplicate
		SET @start_time = GETDATE();
		PRINT '>> Check for Uniqueness of Customer Key in gold.dim_customers';

		SELECT @qty = COUNT(*)
		FROM gold.dim_customers
		GROUP BY customer_key
		HAVING COUNT(*) > 1;

		SET @end_time = GETDATE();
		PRINT '>> Result: Completed in ' + CAST(DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '>> Found: Completed in ' + CAST(@qty AS NVARCHAR) + ' records';
		PRINT '>> -------------';


		PRINT '------------------------------------------------';
		PRINT 'Quality Check "gold.product_key"';
		PRINT '------------------------------------------------';

		--Check Null or Duplicate
		SET @start_time = GETDATE();
		PRINT '>> Check for Uniqueness of Product Key in gold.dim_products';

		SELECT @qty = COUNT(*)
		FROM gold.dim_products
		GROUP BY product_key
		HAVING COUNT(*) > 1;

		SET @end_time = GETDATE();
		PRINT '>> Result: Completed in ' + CAST(DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '>> Found: Completed in ' + CAST(@qty AS NVARCHAR) + ' records';
		PRINT '>> -------------';


		PRINT '------------------------------------------------';
		PRINT 'Quality Check "gold.fact_sales"';
		PRINT '------------------------------------------------';

		--Check Null or Duplicate
		SET @start_time = GETDATE();
		PRINT '>> Check the data model connectivity between fact and dimensions';

		SELECT @qty = COUNT(order_number) 
		FROM gold.fact_sales f
		LEFT JOIN gold.dim_customers c
			ON c.customer_key = f.customer_key
		LEFT JOIN gold.dim_products p
			ON p.product_key = f.product_key
		WHERE p.product_key IS NULL OR c.customer_key IS NULL

		SET @end_time = GETDATE();
		PRINT '>> Result: Completed in ' + CAST(DATEDIFF(second, @start_time, @end_time) AS NVARCHAR) + ' seconds';
		PRINT '>> Found: Completed in ' + CAST(@qty AS NVARCHAR) + ' records';
		PRINT '>> -------------';

	


END TRY
	BEGIN CATCH
		PRINT '=========================================='
		PRINT 'ERROR OCCURED DURING LOADING BRONZE LAYER'
		PRINT 'Error Message' + ERROR_MESSAGE();
		PRINT 'Error Message' + CAST (ERROR_NUMBER() AS NVARCHAR);
		PRINT 'Error Message' + CAST (ERROR_STATE() AS NVARCHAR);
		PRINT '=========================================='
	END CATCH
END
